# Virtual environment
myenv/

# Airflow runtime
airflow/logs
airflow/*.logs
airflow/*.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/standalone_admin_password.txt

# Environment files
.env 

# Python
__pycache__/
*.pyc


